<!DOCTYPE html>
<html>
	<head>
		<title>Shorted</title>
	</head>
	<body>
		<center>
			<br>
			<h2>Your URL was shortened</h2>
			<h3>Shortened URL: 
				<input readonly type="text" id="go" value="<%= params[:short_url]%>">
				<button onclick="go()">Go!</button>
			</h3>
			<br>
			<button onclick="window.history.back();">Back</button>
			<br>
			<br>
		</center>	
		<b>Aditional info:</b><br>
		Original URL: <%= params[:original_url] %><br>
		URL title: <%= params[:title] %><br>
		URL visit count: <%= params[:visit_count] %><br>
		<%= params[:obs] %><br>

		<script>
			function go() {
			  var copyText = document.getElementById("go");
			  copyText.select();
			  location.href = copyText.value;
			}
		</script>

	</body>
</html>